{% extends 'base.html' %}
{% block body %}
   

    <div class="container">
        <div class="row">
            <div class="col-md-6">
    <form  method="POST" class="p-3 shadow">
    {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Task Name</span>
            <input type="text" class="form-control" placeholder="Task"  name="name">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Priority</span>
            <input type="number" class="form-control" placeholder="1"  name="priority" min="1">
            
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Priority</span>
            <input type="date" class="form-control"   name="date" >
            
        </div>
              <button type="submit" class="btn btn-success">Submit</button> 
              
    </div>
    

    
          
    </form>
    <div class="col-md-6">
    {% for i in task %}
    <div class="shadow card text-center">
        <div class="card-header">
          <b>(class based view)Tasks to be completed</b>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text"><b>Priority:{{i.priority}}</b></p>
          <a href="{% url 'todoapp:cbvdelete' i.id %}" class="btn btn-danger">Done</a>
          <a href="{% url 'todoapp:cbvupdate' i.id %}" class="btn btn-info">Update</a>
          <a href="{% url 'todoapp:cbvdetail' i.id %}" class="btn btn-primary">Detail</a>
        </div>
        <div class="card-footer text-body-secondary">
          {{i.date}}
        </div>
      
      </div>
      <br>
      {% endfor%}
      
    </div>
    
        
        
        
    </div>
</div>

</div>
</div>


       
    {% endblock %}